.husky
dist
node_modules
.gitignore
.gitpod.yml
.prettierrc
.stylelintignore
.eslintignore
.eslintrc.js
.git
.stylintrc.json
.stylelintrc.json
Dockerfile
next-env.d.ts
README.md
.github
.dockerignore
.secrets
deploy