.ant-btn {
  background-color: var(--primary-color) !important;
  border: none !important;
}

.ant-btn-primary {
  border-radius: 8px !important;
  background-color: var(--primary-color) !important;
}

.ant-btn-primary:hover {
  background-color: #d29751 !important;
}

.btn-secondary {
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 4px 15px;
  color: #6c7d90;
}

.btn-secondary:hover {
  background-color: #f0f2f3;
}

.ant-input-affix-wrapper {
  border-radius: 8px !important;
  border: 1px solid var(--border-color) !important;
}

.ant-input-affix-wrapper:hover {
  border: 1px solid var(--border-color) !important;
}

.ant-input:focus {
  border-color: var(--primary-color) !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgb(226 207 36 / 20%);
}

.ant-card-actions > li > span a:not(.ant-btn):hover,
.ant-card-actions > li > span > .anticon:hover {
  color: var(--primary-color) !important;
}

.ant-radio-button-wrapper-checked {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: var(--primary-color) !important;
}

.ant-radio-button-wrapper:hover {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-input,
.ant-input-number,
.ant-select-selector {
  border-radius: 9px !important;
  overflow: hidden !important;
}

.ant-card-meta-detail {
  width: 100% !important;
}
