* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;

  &:hover {
    color: unset !important;
  }
}

body {
  font-family: 'Lexend Deca', sans-serif !important;
  background: #f8f6f2;

  &::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: #f6f6ff;
  }

  &::-webkit-scrollbar-thumb {
    background: #6969e7;
    border-radius: 10px;
  }
}

#__main {
  min-height: 100vh;
  display: block;
  background: #f8f6f2;

  // margin-left: var(--width-sidebar);
  padding: calc(var(--main-content-padding-top) + var(--height-navbar)) 0 0 0;
}

.main_admin {
  margin-left: var(--width-sidebar);
  padding: calc(var(--main-content-padding-top) + var(--height-navbar))
    var(--main-content-padding-right) var(--main-content-padding-bottom)
    var(--main-content-padding-left) !important;
}

// loading core
#app-loading {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  background: rgb(255 255 255 / 50%);

  .loader,
  .loader::after {
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }

  .loader {
    margin: auto;
    font-size: 15px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2em solid rgb(0 0 0 / 20%);
    border-right: 0.2em solid rgb(0 0 0 / 20%);
    border-bottom: 0.2em solid rgb(0 0 0 / 20%);
    border-left: 0.2em solid #0ac7bd;
    transform: translateZ(0);
    animation: loading-proccess 1.1s infinite linear;
  }

  @keyframes loading-proccess {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.container-xl,
.container-md,
.container-sm,
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1600px;
  margin: 0 auto;
}

.hide_scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.custom_scrollbar {
  &::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: #f6f6ff;
  }

  &::-webkit-scrollbar-thumb {
    background: #6969e7;
    border-radius: 10px;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input:focus-within {
  outline: none;
}

.card {
  @apply border border-solid border-[#E2E2EA] p-4 bg-white rounded-[8px];
}

.card-description-custom {
  display: box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
